.toggle-container {
  position: absolute;
}

.toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #ffc107;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

/* create one class for toggled background color  */
.toggle.dark {
  background-color: var(--color);
}

.icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.sun {
  transform: translateX(0);
}

.moon {
  transform: translateX(30px);
}
